@model IEnumerable<ToDoApplicationMVC.Models.Todo>
<link rel="stylesheet" href="~/css/site.css"/>

<h2>To-Do List</h2>
<a asp-action="create" class="btn btn-primary">Add Task</a>

<table class="table">
    <thead>
        <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Create</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Task</td>
                <td>@item.IsCompleted ? "✅Done" : "❌Pending"</td>
                <td>@item.CreatedAt</td>
                <td>
                    <a asp-action="edit" class="btn btn-secondary" asp-route-id="@item.Id"></a>
                    <a asp-action="delete" class="btn btn-danger" asp-route-id="@item.Id"></a>
                    @if (!item.IsCompleted)
                    {
                        <form asp-action="Mark-Complete" asp-route-id="@item.Id" method="post" style="display:inline">
                            <button type="submit" class="btn btn-success">Mark Done</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>